<div class="powered-up-nav-buttons">
    <p>
      {% if page.previous != nil and page.previous.url != previousPoweredUpPostUrl %}
        <a href="{{ page.previous.url }}" class="btn">&lt; Previous Post</a>
      {% endif %}
      {% if oldestPoweredUpPostUrl != page.url %}
        <a href="{{ oldestPoweredUpPostUrl }}" class="btn">Powered Up<br/>&lt;&lt; First Post</a>
        <a href="{{ previousPoweredUpPostUrl }}" class="btn">Powered Up<br/>&lt; Previous Post</a>
      {% endif %}
      {% if newestPoweredUpPostUrl != page.url %}
        <a href="{{ nextPoweredUpPostUrl }}" class="btn">Powered Up<br/>Next Post &gt;</a>
        <a href="{{ newestPoweredUpPostUrl }}" class="btn">Powered Up<br/>Newest Post &gt;&gt;</a>
      {% endif %}
      {% if page.next != nil and page.next.url != nextPoweredUpPostUrl %}
        <a href="{{ page.next.url }}" class="btn">Next Post &gt;</a>
      {% endif %}
    </p>
</div>
