<style type="text/css">
	.powered-up-nav-buttons {
        transform: scale(0.8, 0.8);
        transform-origin: left;
    }
</style>

{% assign newestPoweredUpPostUrl = site.categories.PoweredUp.first.url %}
{% assign oldestPoweredUpPostUrl = site.categories.PoweredUp.last.url %}

{% assign previousPoweredUpPostUrl = "" %}
{% unless page.url == oldestPoweredUpPostUrl%}
  {% assign previousPage = page.previous %}
  {% for i in (1...9999) %}
    {% if previousPage == nil %}
      {% break %}
    {% endif %}
    {% if previousPage.categories contains "PoweredUp" %}
      {% assign previousPoweredUpPostUrl = previousPage.url %}
      {% break %}
    {% endif %}
    {% assign previousPage = previousPage.previous %}
  {% endfor %}
{% endunless %}

{% assign nextPoweredUpPostUrl = "" %}
{% unless page.url == newestPoweredUpPostUrl%}
  {% assign nextPage = page.next %}
  {% for i in (1...9999) %}
    {% if nextPage == nil %}
      {% break %}
    {% endif %}
    {% if nextPage.categories contains "PoweredUp" %}
      {% assign nextPoweredUpPostUrl = nextPage.url %}
      {% break %}
    {% endif %}
    {% assign nextPage = nextPage.next %}
  {% endfor %}
{% endunless %}
