{% capture default_text %}
This isn't the one I use, but this looks like it's a better gauge, and it's a good price.
{% endcapture %}

{% capture my_title %}{{ include.title | default: "Digital Dial Indicator Gauge" }}{% endcapture %}
{% capture my_image %}{{ include.image | default: "//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=B01JYCVHLK&Format=_SL160_&ID=AsinImage&MarketPlace=US&ServiceVersion=20070822&WS=1&tag=thenewbiewood-20&language=en_US" }}{% endcapture %}
{% capture my_link %}{{ include.link | default: "https://amzn.to/30nI8Td" }}{% endcapture %}
{% capture my_margin_top %}{{ include.margin_top | default: 0 }}{% endcapture %}
{% capture my_text %}{{ include.text | default: default_text }}{% endcapture %}

{% include product-link.html
  title=my_title
  image=my_image
  image_width=include.image_width
  link=my_link
  margin_top=my_margin_top
  text=my_text
  youtube_text=include.youtube_text
%}