{% capture my-url %}https://youtu.be/{{ include.video-id }}{% if include.timecode %}?start={{ include.timecode }}{% endif %}{% endcapture %}

<div id="video-reference-{{ include.video-id }}" style="clear: left">

  <p>
    <a href="{{ my-url }}" target="_blank" class="align-left image-border">
      <img src="https://i.ytimg.com/vi/{{ include.video-id }}/mqdefault.jpg" style="max-width: 150px" alt="" />
    </a>
    <p{% if include.padding-top %} style="padding-top: {{ include.padding-top }}px"{% endif %}>
      {{ include.title-prefix-text }}
      <a href="{{ my-url }}" target="_blank" class="entry-font-larger">{{ include.title }}</a>
      <br/>
      {{ include.description }}
    </p>
  </p>

</div>