---
layout: default
---

{% include page-intro.html %}

<style type="text/css">
	.image-border {
        border:1px solid black;
    }
</style>

<main id="main" class="page-content" aria-label="Content">
  <div class="inner">

    {% include post-nav-buttons.html %}

    <article class="entry-wrap">
      <div class="entry-content">
        {{ content }}
      </div>

      {% include post-nav-buttons.html %}

      {% include social-share.html %}

      {% include visit_my_youtube_channel.html %}

      {% if site.disqus.shortname %}
        {% include disqus_comments.html %}
      {% endif %}
    </article>

    {% include footer.html %}
  </div>
</main>
